@use "../abstracts/" as *;

.dropdown {
  position: relative;

  .arrow-up {
    display: none;
  }

  .arrow-down{
    display: inline;
  }

  // &__link:focus{
  //   color: $black;
  // }
  &__title{
    border: none;
    background-color: transparent;
    &:hover, &:focus{
    color: $black;
  }
  }

  &__menu {
    position: absolute;
    left: 0;
    top: calc(100% + .7rem);
    background-color: $white;
    box-shadow: 0 rem(2) rem(15) rgba(0, 0, 0, 0.1);
    // padding: rem(15) rem(30);
    padding: rem(15) 0;
    border-radius: rem(10);
    // background-color: red;
    opacity: 0;

    li {
      width: rem(150);
      padding: rem(10) rem(20);
      display: flex;
      gap: rem(15);
      color: $grey;
      // padding: rem(7) rem(30);
      // padding-left: rem(20);
      // text-align: center;

      &:hover {
        cursor: pointer;
        background-color: rgb(230, 229, 229);
      }
    }
  }

  & > &__title:hover + &__menu {
    // cursor: pointer;
    opacity: 1;
  }
  // & > &__link:focus + &__menu {
  //   opacity: 1;
  // }
}
