@use "../abstracts/" as *;

.dropdown {
  position: relative;

  .arrow-up {
    display: none;
  }

  .arrow-down{
    display: inline;
    cursor: pointer;

  }

  &__title {
    border: none;
    background-color: transparent;

    &:hover, &:focus {
      color: $black;
    }
  }

  &__menu {
    position: absolute;
    left: 0;
    top: calc(100% + .7rem);
    background-color: $white;
    box-shadow: 0 rem(2) rem(15) rgba(0, 0, 0, 0.1);
    padding: rem(15) 0;
    border-radius: rem(10);
    opacity: 0;

    li {
      width: rem(150);
      padding: rem(10) rem(20);
      display: flex;
      gap: rem(15);
      color: $grey;

      &:hover {
        cursor: pointer;
        background-color: rgb(230, 229, 229);
      }
    }
  }

  // &__title:hover + &__menu {
  //   opacity: 1;
  // }
  &__title.active + &__menu {
    opacity: 1;
  }

  &__title.active {
    cursor: pointer;

    .arrow-up {
      display: inline;
    }
  
    .arrow-down{
      display: none;
    }
  }
}
