@use '../abstracts/' as *;
@use '../components/dropdown' as *;



.header {
  display: flex;
  align-items: center;
  min-height: rem(50);
  padding: 0 rem(40);
  max-height: 10vh !important;

  a {
    font-size: rem(14);
    line-height: rem(16);
    font-weight: 500;
    color: $grey;

    &:hover {
      color: $black;
    }
  }

  &__logo {
    margin-right: rem(50);
    margin-top: rem(10);
  }

  &__nav {
    width: 100%;
  }
  
  &__menu {
    display: flex;
    align-items: center;
    gap: rem(50);
    
  }

  &__login {
    margin-left: auto;
  }

  &__register a {
    border: rem(1.5) solid $grey;
    padding: rem(10) rem(20);
    border-radius: rem(5);

    &:hover {
      border-color: $black;
    }
  }

  &__hamburger {
    display: none;
    
    i {
    font-size: rem(32);
    color: $grey;
 
    &:hover {
      cursor: pointer;
    }
  }
  } 
}

@media screen and (max-width: rem(900)){
  .header {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 100px;
   
    &__menu-item {
      display: none;
    }

    &__hamburger {
      display: block;
    }
  }
}